<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.mozilla.mozillasocial</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mozillasocial</string>
			</array>
		</dict>
	</array>
	<key>PocketAPIConsumerKey</key>
	<string>$(POCKET_API_CONSUMER_KEY)</string>
	<key>BrazeAPIEndpoint</key>
	<string>$(BRAZE_API_ENDPOINT)</string>
	<key>BrazeAPIKey</key>
	<string>$(BRAZE_API_KEY)</string>
	<key>GroupID</key>
	<string>$(GROUP_ID)</string>
</dict>
</plist>
