// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

POCKET_API_CONSUMER_KEY=[YOUR-CONSUMER-KEY]
BRAZE_API_KEY=[YOUR-BRAZE-KEY]
BRAZE_API_ENDPOINT=[BRAZE-ENDPOINT]
GROUP_ID=[GROUP_ID]
